<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.2.3.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="activex\dvcdownloader\dvcdownloadercontrol.dll">
                <modifications>
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\DVCDOWNLOADERCONTROL.1"
                            value="DVCDownloaderControl Object" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\DVCDOWNLOADERCONTROL.1\CLSID"
                            value="{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\DVCDOWNLOADERCONTROL"
                            value="DVCDownloaderControl Object" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\DVCDOWNLOADERCONTROL\CLSID"
                            value="{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\DVCDOWNLOADERCONTROL\CURVER"
                            value="DVCDownloaderControl.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}"
                            value="DVCDownloaderControl Object" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}\PROGID"
                            value="DVCDownloaderControl.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}\VERSIONINDEPENDENTPROGID"
                            value="DVCDownloaderControl" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\DVCDownloader\DVCDownloaderControl.dll"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}\INPROCSERVER32"
                            value="apartment" valueKind="String" valueName="ThreadingModel" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}\CONTROL"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}\TOOLBOXBITMAP32"
                            value="%FP_STARTUP_PATH%\ActiveX\DVCDownloader\DVCDownloaderControl.dll, 1"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}\MISCSTATUS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}\MISCSTATUS\1"
                            value="131473" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}"
                            value="" valueKind="String" valueName="AppID" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}\TYPELIB"
                            value="{0AB6DFAE-A70F-48EC-9A57-77C59D56099E}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{DBA8E419-0D5F-439B-A3CC-D01C768D9B51}\VERSION"
                            value="1.0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0AB6DFAE-A70F-48EC-9A57-77C59D56099E}\1.0"
                            value="DVCDownloaderControl" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0AB6DFAE-A70F-48EC-9A57-77C59D56099E}\1.0\FLAGS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0AB6DFAE-A70F-48EC-9A57-77C59D56099E}\1.0\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0AB6DFAE-A70F-48EC-9A57-77C59D56099E}\1.0\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\DVCDownloader\DVCDownloaderControl.dll"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0AB6DFAE-A70F-48EC-9A57-77C59D56099E}\1.0\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\DVCDownloader\" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EFB05114-F06F-4DD3-90DB-6A50AECF0BB1}"
                            value="IDVCDownloaderControl" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EFB05114-F06F-4DD3-90DB-6A50AECF0BB1}\PROXYSTUBCLSID32"
                            value="{00020424-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EFB05114-F06F-4DD3-90DB-6A50AECF0BB1}\TYPELIB"
                            value="{0AB6DFAE-A70F-48EC-9A57-77C59D56099E}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EFB05114-F06F-4DD3-90DB-6A50AECF0BB1}\TYPELIB"
                            value="1.0" valueKind="String" valueName="Version" />
                    </registryStates>
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>