<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.2.3.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="activex\slgwebinstall\slgwebinstall.dll">
                <modifications runAsAdministrator="True">
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{12BD16C9-E640-4163-A164-1F16A532677A}"
                            value="SandlotGamesLoader" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\SANDLOTGAMESLOADER.DLL"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\SANDLOTGAMESLOADER.DLL"
                            value="{12BD16C9-E640-4163-A164-1F16A532677A}" valueKind="String"
                            valueName="AppID" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\SANDLOTGAMESLOADER.SGLOADER.1"
                            value="Sandlot Loader Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\SANDLOTGAMESLOADER.SGLOADER.1\CLSID"
                            value="{7D731A83-6C80-4EA4-9646-5E06A0513274}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\SANDLOTGAMESLOADER.SGLOADER"
                            value="Sandlot Loader Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\SANDLOTGAMESLOADER.SGLOADER\CLSID"
                            value="{7D731A83-6C80-4EA4-9646-5E06A0513274}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\SANDLOTGAMESLOADER.SGLOADER\CURVER"
                            value="SandlotGamesLoader.SGLoader.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}"
                            value="Sandlot Loader Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\PROGID"
                            value="SandlotGamesLoader.SGLoader.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\VERSIONINDEPENDENTPROGID"
                            value="SandlotGamesLoader.SGLoader" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\PROGRAMMABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\slgwebinstall\slgwebinstall.dll"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\INPROCSERVER32"
                            value="Apartment" valueKind="String" valueName="ThreadingModel" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}"
                            value="{12BD16C9-E640-4163-A164-1F16A532677A}" valueKind="String"
                            valueName="AppID" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\CONTROL"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\TOOLBOXBITMAP32"
                            value="%FP_STARTUP_PATH%\ActiveX\slgwebinstall\slgwebinstall.dll, 201"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\MISCSTATUS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\MISCSTATUS\1"
                            value="132497" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\TYPELIB"
                            value="{4FD68DEC-165A-4BA4-A01F-51032F06584A}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\VERSION"
                            value="1.0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\IMPLEMENTED CATEGORIES"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\INSERTABLE"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\IMPLEMENTED CATEGORIES\{40FC6ED3-2438-11CF-A3DB-080036F12502}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7D731A83-6C80-4EA4-9646-5E06A0513274}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4FD68DEC-165A-4BA4-A01F-51032F06584A}\1.0"
                            value="Sandlot Loader Library" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4FD68DEC-165A-4BA4-A01F-51032F06584A}\1.0\FLAGS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4FD68DEC-165A-4BA4-A01F-51032F06584A}\1.0\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4FD68DEC-165A-4BA4-A01F-51032F06584A}\1.0\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\slgwebinstall\slgwebinstall.dll"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4FD68DEC-165A-4BA4-A01F-51032F06584A}\1.0\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\slgwebinstall\" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4DDEF226-659B-4F5D-9897-CF7574248102}"
                            value="_ISGLoaderEvents" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4DDEF226-659B-4F5D-9897-CF7574248102}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4DDEF226-659B-4F5D-9897-CF7574248102}\TYPELIB"
                            value="{4FD68DEC-165A-4BA4-A01F-51032F06584A}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4DDEF226-659B-4F5D-9897-CF7574248102}\TYPELIB"
                            value="1.0" valueKind="String" valueName="Version" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5E976A4E-0ED0-4553-86A5-F3FC4CDD9B7F}"
                            value="ISGLoader" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5E976A4E-0ED0-4553-86A5-F3FC4CDD9B7F}\PROXYSTUBCLSID32"
                            value="{5E976A4E-0ED0-4553-86A5-F3FC4CDD9B7F}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5E976A4E-0ED0-4553-86A5-F3FC4CDD9B7F}\TYPELIB"
                            value="{4FD68DEC-165A-4BA4-A01F-51032F06584A}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5E976A4E-0ED0-4553-86A5-F3FC4CDD9B7F}\TYPELIB"
                            value="1.0" valueKind="String" valueName="Version" />
                        <registryState type="KEY" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\CLSID"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5E976A4E-0ED0-4553-86A5-F3FC4CDD9B7F}"
                            value="PSFactoryBuffer" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5E976A4E-0ED0-4553-86A5-F3FC4CDD9B7F}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\slgwebinstall\slgwebinstall.dll"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5E976A4E-0ED0-4553-86A5-F3FC4CDD9B7F}\INPROCSERVER32"
                            value="Both" valueKind="String" valueName="ThreadingModel" />
                        <registryState type="KEY" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\Interface"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5E976A4E-0ED0-4553-86A5-F3FC4CDD9B7F}\NUMMETHODS"
                            value="30" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INSTALL.INSTALL.1"
                            value="CInstall Class" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INSTALL.INSTALL.1\CLSID"
                            value="{205FF73B-CA67-11D5-99DD-444553540011}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INSTALL.INSTALL"
                            value="CInstall Class" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INSTALL.INSTALL\CLSID"
                            value="{205FF73B-CA67-11D5-99DD-444553540011}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INSTALL.INSTALL\CURVER"
                            value="Install.Install.1" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{205FF73B-CA67-11D5-99DD-444553540011}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{205FF73B-CA67-11D5-99DD-444553540011}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{205FF73B-CA67-11D5-99DD-444553540011}\IMPLEMENTED CATEGORIES"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{205FF73B-CA67-11D5-99DD-444553540011}"
                            value="CInstall Class" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{205FF73B-CA67-11D5-99DD-444553540011}\PROGID"
                            value="Install.Install.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{205FF73B-CA67-11D5-99DD-444553540011}\VERSIONINDEPENDENTPROGID"
                            value="Install.Install" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{205FF73B-CA67-11D5-99DD-444553540011}\PROGRAMMABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{205FF73B-CA67-11D5-99DD-444553540011}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\slgwebinstall\slghex.dll"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{205FF73B-CA67-11D5-99DD-444553540011}\INPROCSERVER32"
                            value="Apartment" valueKind="String" valueName="ThreadingModel" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{205FF73B-CA67-11D5-99DD-444553540011}\TYPELIB"
                            value="{205FF72E-CA67-11D5-99DD-444553540011}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{205FF72E-CA67-11D5-99DD-444553540011}\1.0"
                            value="Install 1.0 Type Library" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{205FF72E-CA67-11D5-99DD-444553540011}\1.0\FLAGS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{205FF72E-CA67-11D5-99DD-444553540011}\1.0\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{205FF72E-CA67-11D5-99DD-444553540011}\1.0\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\slgwebinstall\slghex.dll"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{205FF72E-CA67-11D5-99DD-444553540011}\1.0\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\slgwebinstall\" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{205FF73A-CA67-11D5-99DD-444553540011}"
                            value="IInstall" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{205FF73A-CA67-11D5-99DD-444553540011}\PROXYSTUBCLSID32"
                            value="{00020424-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{205FF73A-CA67-11D5-99DD-444553540011}\TYPELIB"
                            value="{205FF72E-CA67-11D5-99DD-444553540011}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{205FF73A-CA67-11D5-99DD-444553540011}\TYPELIB"
                            value="1.0" valueKind="String" valueName="Version" />
                    </registryStates>
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>