<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\time">
        <modifications runAsAdministrator="true">
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{33ADBFCC-3E0D-11D2-B948-00C04FA32195}\1.0\flags" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{17237A20-3ADB-48EC-B182-35291F115790}\Inprocserver32" valueName="" value="%FP_STARTUP_PATH%\activex\time\mstime.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{16911a65-d41d-4431-87f7-e757f4d03bd8}\Inprocserver32" valueName="" value="%FP_STARTUP_PATH%\activex\time\mstime.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{332B2A56-F86C-47E7-8602-FC42AC8B9920}\Inprocserver32" valueName="" value="%FP_STARTUP_PATH%\activex\time\mstime.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{0019a09d-1a81-41c5-89ec-d9e737811303}\Inprocserver32" valueName="" value="%FP_STARTUP_PATH%\activex\time\mstime.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{62f75052-f3ec-4a64-84fb-ab18e0746ed8}\Inprocserver32" valueName="" value="%FP_STARTUP_PATH%\activex\time\mstime.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{ba91ce53-baeb-4f05-861c-0a2a0934f83e}\Inprocserver32" valueName="" value="%FP_STARTUP_PATH%\activex\time\mstime.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{c54515d0-f2e5-4bdd-aa86-1e4f23e480e7}\Inprocserver32" valueName="" value="%FP_STARTUP_PATH%\activex\time\mstime.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{f99d135a-c07c-449e-965c-7dbb7c554a51}\Inprocserver32" valueName="" value="%FP_STARTUP_PATH%\activex\time\mstime.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{a951b11a-c712-45b3-b884-2469a6243368}\Inprocserver32" valueName="" value="%FP_STARTUP_PATH%\activex\time\mstime.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{a951b11a-c712-45b3-b884-2469a6243368}\Inprocserver32" valueName="ThreadingModel" value="Both" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{87C96271-ADDB-4745-B2E8-DF88A8472FD1}\1.0\0\win32" valueName="" value="%FP_STARTUP_PATH%\activex\time\mstime.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{87C96271-ADDB-4745-B2E8-DF88A8472FD1}\1.0\flags" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{4F9B5291-E6E0-419E-A28D-09EB23E91CB3}\NumMethods" valueName="" value="11" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{4F9B5291-E6E0-419E-A28D-09EB23E91CB3}\ProxyStubClsid32" valueName="" value="{a951b11a-c712-45b3-b884-2469a6243368}" valueKind="String" />
           <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\Default Behaviors" valueName="TIME2" value="CLSID:17237A20-3ADB-48EC-B182-35291F115790" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>
