<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.4.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="activex\chem3d\chem3dctl8.ocx">
                <modifications>
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0257A48C-45C8-4313-9AD8-D8DDDAD01437}\8.0"
                            value="CS Chem3D Control 8.0 Library" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0257A48C-45C8-4313-9AD8-D8DDDAD01437}\8.0\FLAGS"
                            value="2" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0257A48C-45C8-4313-9AD8-D8DDDAD01437}\8.0\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0257A48C-45C8-4313-9AD8-D8DDDAD01437}\8.0\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\Chem3D\Chem3dCtl8.ocx" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0257A48C-45C8-4313-9AD8-D8DDDAD01437}\8.0\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\Chem3D" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{CA0FC5F4-A99E-11D4-8E31-0050DAEAF0A5}"
                            value="_DChem3D" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{CA0FC5F4-A99E-11D4-8E31-0050DAEAF0A5}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{CA0FC5F4-A99E-11D4-8E31-0050DAEAF0A5}\TYPELIB"
                            value="{0257A48C-45C8-4313-9AD8-D8DDDAD01437}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{CA0FC5F4-A99E-11D4-8E31-0050DAEAF0A5}\TYPELIB"
                            value="8.0" valueKind="String" valueName="VERSION" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{CA0FC5F5-A99E-11D4-8E31-0050DAEAF0A5}"
                            value="_DChem3DEvents" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{CA0FC5F5-A99E-11D4-8E31-0050DAEAF0A5}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{CA0FC5F5-A99E-11D4-8E31-0050DAEAF0A5}\TYPELIB"
                            value="{0257A48C-45C8-4313-9AD8-D8DDDAD01437}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{CA0FC5F5-A99E-11D4-8E31-0050DAEAF0A5}\TYPELIB"
                            value="8.0" valueKind="String" valueName="VERSION" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B7A6B8E4-3E8B-4D18-8F8F-B4057EFC784B}"
                            value="CS Chem3D Control 8.0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CHEM3DCONTROL8.CHEM3DCTL"
                            value="CS Chem3D Control 8.0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CHEM3DCONTROL8.CHEM3DCTL\CLSID"
                            value="{B7A6B8E4-3E8B-4D18-8F8F-B4057EFC784B}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B7A6B8E4-3E8B-4D18-8F8F-B4057EFC784B}\PROGID"
                            value="Chem3DControl8.Chem3DCtl" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B7A6B8E4-3E8B-4D18-8F8F-B4057EFC784B}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\Chem3D\CHEM3D~1.OCX" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B7A6B8E4-3E8B-4D18-8F8F-B4057EFC784B}\TOOLBOXBITMAP32"
                            value="%FP_STARTUP_PATH%\ActiveX\Chem3D\CHEM3D~1.OCX, 114"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B7A6B8E4-3E8B-4D18-8F8F-B4057EFC784B}\MISCSTATUS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B7A6B8E4-3E8B-4D18-8F8F-B4057EFC784B}\MISCSTATUS\1"
                            value="131473" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B7A6B8E4-3E8B-4D18-8F8F-B4057EFC784B}\CONTROL"
                            value="" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B7A6B8E4-3E8B-4D18-8F8F-B4057EFC784B}\TYPELIB"
                            value="{0257A48C-45C8-4313-9AD8-D8DDDAD01437}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B7A6B8E4-3E8B-4D18-8F8F-B4057EFC784B}\VERSION"
                            value="8.0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B7A6B8E4-3E8B-4D18-8F8F-B4057EFC784B}\INPROCSERVER32"
                            value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
                    </registryStates>
		<oldCPUSimulator targetRate="200" />
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>