<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.2.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="activex\2020player_ikea\2020player_ikea.dll">
                <modifications>
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AX2020PLAYER.2020PLAYER_IKEA.6.0.1.1"
                            value="20-20 3D Viewer for IKEA" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AX2020PLAYER.2020PLAYER_IKEA.6.0.1.1\CLSID"
                            value="{1ABA5FAC-1417-422b-BA82-45C35E2C908B}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AX2020PLAYER.2020PLAYER_IKEA"
                            value="20-20 3D Viewer for IKEA" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AX2020PLAYER.2020PLAYER_IKEA\CLSID"
                            value="{1ABA5FAC-1417-422b-BA82-45C35E2C908B}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AX2020PLAYER.2020PLAYER_IKEA\CURVER"
                            value="AX2020Player.2020Player_IKEA.6.0.1.1" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}"
                            value="20-20 3D Viewer for IKEA" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\PROGID"
                            value="AX2020Player.2020Player_IKEA.6.0.1.1" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\VERSIONINDEPENDENTPROGID"
                            value="AX2020Player.2020Player_IKEA" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\PROGRAMMABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\2020Player_IKEA\2020Player_IKEA.dll"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\INPROCSERVER32"
                            value="Apartment" valueKind="String" valueName="ThreadingModel" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\CONTROL"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\INSERTABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\TOOLBOXBITMAP32"
                            value="%FP_STARTUP_PATH%\ActiveX\2020Player_IKEA\2020Player_IKEA.dll, 101"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\MISCSTATUS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\MISCSTATUS\1"
                            value="131473" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\TYPELIB"
                            value="{5D911178-4ECB-47c8-8F1E-C5486B4469BC}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1ABA5FAC-1417-422B-BA82-45C35E2C908B}\VERSION"
                            value="6.0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{5D911178-4ECB-47C8-8F1E-C5486B4469BC}\7.2"
                            value="2020 3D Viewer Type Library" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{5D911178-4ECB-47C8-8F1E-C5486B4469BC}\7.2\FLAGS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{5D911178-4ECB-47C8-8F1E-C5486B4469BC}\7.2\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{5D911178-4ECB-47C8-8F1E-C5486B4469BC}\7.2\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\2020Player_IKEA\2020Player_IKEA.dll"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{5D911178-4ECB-47C8-8F1E-C5486B4469BC}\7.2\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\2020Player_IKEA" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{42EC53D6-EA43-41FB-AC11-A07386635F11}"
                            value="_IZWebBrowserAXEvents" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{42EC53D6-EA43-41FB-AC11-A07386635F11}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{42EC53D6-EA43-41FB-AC11-A07386635F11}\TYPELIB"
                            value="{5D911178-4ECB-47C8-8F1E-C5486B4469BC}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{42EC53D6-EA43-41FB-AC11-A07386635F11}\TYPELIB"
                            value="7.2" valueKind="String" valueName="Version" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{3CD0882E-C0EF-49AD-8A5F-B28884400E17}"
                            value="IZWebBrowserAX" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{3CD0882E-C0EF-49AD-8A5F-B28884400E17}\PROXYSTUBCLSID32"
                            value="{00020424-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{3CD0882E-C0EF-49AD-8A5F-B28884400E17}\TYPELIB"
                            value="{5D911178-4ECB-47C8-8F1E-C5486B4469BC}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{3CD0882E-C0EF-49AD-8A5F-B28884400E17}\TYPELIB"
                            value="7.2" valueKind="String" valueName="Version" />
                    </registryStates>
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>