<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.4.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="activex\turntool2011\tt2011.dll">
                <modifications>
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{C6F6253E-5923-4009-9C5F-BED8EA0B39C1}"
                            value="TT2011" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\TT2011.DLL"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\TT2011.DLL"
                            value="{c6f6253e-5923-4009-9c5f-bed8ea0b39c1}" valueKind="String"
                            valueName="APPID" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TT2011.TNTCTRL.1"
                            value="TurnTool2011 Object" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TT2011.TNTCTRL.1\CLSID"
                            value="{4a8a5cc4-d0f5-4e7b-aaea-bfc70446bfda}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TT2011.TNTCTRL"
                            value="TurnTool2011 Object" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TT2011.TNTCTRL\CLSID"
                            value="{4a8a5cc4-d0f5-4e7b-aaea-bfc70446bfda}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TT2011.TNTCTRL\CURVER"
                            value="TT2011.TNTCtrl.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}"
                            value="TurnTool2011 Object" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\PROGID"
                            value="TT2011.TNTCtrl.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\VERSIONINDEPENDENTPROGID"
                            value="TT2011.TNTCtrl" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\TurnTool2011\TT2011.dll"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\INPROCSERVER32"
                            value="apartment" valueKind="String" valueName="THREADINGMODEL" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\CONTROL"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\TOOLBOXBITMAP32"
                            value="%FP_STARTUP_PATH%\ActiveX\TurnTool2011\TT2011.dll, 1"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\MISCSTATUS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\MISCSTATUS\1"
                            value="131473" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}"
                            value="{c6f6253e-5923-4009-9c5f-bed8ea0b39c1}" valueKind="String"
                            valueName="APPID" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\TYPELIB"
                            value="{C6F6253E-5923-4009-9C5F-BED8EA0B39C1}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\VERSION"
                            value="1.0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\IMPLEMENTED CATEGORIES"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\IMPLEMENTED CATEGORIES\{40FC6ED4-2438-11CF-A3DB-080036F12502}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4A8A5CC4-D0F5-4E7B-AAEA-BFC70446BFDA}\IMPLEMENTED CATEGORIES\{0DE86A57-2BAA-11CF-A229-00AA003D7352}"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{C6F6253E-5923-4009-9C5F-BED8EA0B39C1}\1.0"
                            value="TurnTool 2011" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{C6F6253E-5923-4009-9C5F-BED8EA0B39C1}\1.0\FLAGS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{C6F6253E-5923-4009-9C5F-BED8EA0B39C1}\1.0\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{C6F6253E-5923-4009-9C5F-BED8EA0B39C1}\1.0\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\TurnTool2011\TT2011.dll"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{C6F6253E-5923-4009-9C5F-BED8EA0B39C1}\1.0\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\TurnTool2011" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C6F0CB16-D1C0-4439-B8FE-DCF21915A3BC}"
                            value="_ITNTCtrlEvents" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C6F0CB16-D1C0-4439-B8FE-DCF21915A3BC}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C6F0CB16-D1C0-4439-B8FE-DCF21915A3BC}\TYPELIB"
                            value="{C6F6253E-5923-4009-9C5F-BED8EA0B39C1}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C6F0CB16-D1C0-4439-B8FE-DCF21915A3BC}\TYPELIB"
                            value="1.0" valueKind="String" valueName="VERSION" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5EC26C05-FF7E-4735-9305-443F17072B5A}"
                            value="ITNTCtrl" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5EC26C05-FF7E-4735-9305-443F17072B5A}\PROXYSTUBCLSID32"
                            value="{00020424-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5EC26C05-FF7E-4735-9305-443F17072B5A}\TYPELIB"
                            value="{C6F6253E-5923-4009-9C5F-BED8EA0B39C1}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5EC26C05-FF7E-4735-9305-443F17072B5A}\TYPELIB"
                            value="1.0" valueKind="String" valueName="VERSION" />
                    </registryStates>
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>