<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
			<template name="activex\hypercosm.flash">
				<mode name="WEB_BROWSER" />
				<modifications runAsAdministrator="True">
					<registryStates binaryType="SCS_32BIT_BINARY">
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX" value="Hypercosm Applet" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX\CLSID" value="{34B8892A-9303-4893-9E12-1CEE6C3BF95D}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX\CurVer" value="HypercosmActivex.HyperX.1" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX.1" value="Hypercosm Applet" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX.1\CLSID" value="{34B8892A-9303-4893-9E12-1CEE6C3BF95D}" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX.1\Insertable" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}" value="Hypercosm Applet" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Control" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Implemented Categories" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Implemented Categories\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Implemented Categories\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\InprocServer32" value="%FP_STARTUP_PATH%\Hypercosm\Hypercosm3\components\HypercosmActivex.dll" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\InprocServer32" value="Apartment" valueKind="String" valueName="ThreadingModel" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Insertable" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\MiscStatus" value="0" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\MiscStatus\1" value="131473" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\ProgID" value="HypercosmActivex.HyperX.1" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Programmable" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\ToolboxBitmap32" value="%FP_STARTUP_PATH%\Hypercosm\Hypercosm3\components\HypercosmActivex.dll, 101" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\TypeLib" value="{84BF5E52-39FD-4711-A2C1-064095C68D71}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Version" value="1.0" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\VersionIndependentProgID" value="HypercosmActivex.HyperX" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}\1.0" value="Hypercosm Applet 1.0 Type Library" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}\1.0\0" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}\1.0\0\win32" value="%FP_STARTUP_PATH%\Hypercosm\Hypercosm3\components\HypercosmActivex.dll" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\Hypercosm\Hypercosm3\components" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\HYPERCOSM" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\HYPERCOSM\HYPERCOSM PLAYER" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\HYPERCOSM\HYPERCOSM PLAYER" value="%FP_STARTUP_PATH%\Hypercosm\Hypercosm3\" valueKind="String" valueName="SystemDataPath" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\HYPERCOSM\HYPERCOSM PLAYER" value="3.50" valueKind="String" valueName="Version" />
						
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\explorer\FolderDescriptions" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SYSTEM\ControlSet001\Control\TimeZoneInformation" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\HARDWARE\DESCRIPTION\System\CentralProcessor\0" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Macromedia\FlashPlayer\SafeVersions" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\InprocServer32" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}" value="Macromedia Flash Factory Object" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}\1.0" valueName="" value="Shockwave Flash" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}\1.0\0" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\Flash" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper" value="Macromedia Flash Paper" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\FlashFactory.FlashFactory.1" value="Macromedia Flash Factory Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\FlashFactory.FlashFactory.1\CLSID" value="{D27CDB70-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.1" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.1\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\FlashFactory.FlashFactory" value="Macromedia Flash Factory Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\FlashFactory.FlashFactory\CLSID" value="{D27CDB70-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\FlashFactory.FlashFactory\CurVer" value="FlashFactory.FlashFactory.1" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.3" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.3\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.4" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.4\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.5" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.5\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.6" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.6\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.7" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.7\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.8" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.8\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.9" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.9\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.10" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.10\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.11" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.11\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.12" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.12\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.13" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.13\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.14" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.14\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.15" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.15\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.16" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.16\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.17" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.17\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.18" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.18\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.19" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.19\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.20" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.20\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.21" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.21\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.22" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.22\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.23" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.23\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.24" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.24\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.25" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.25\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.26" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.26\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.27" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.27\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.28" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.28\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.29" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.29\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.30" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.30\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.31" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.31\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.32" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.32\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash" value="Shockwave Flash Object" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash\CurVer" value="ShockwaveFlash.ShockwaveFlash.32" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Control" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\EnableFullPage" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Implemented Categories" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\MiscStatus" value="0" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\ProgID" value="ShockwaveFlash.ShockwaveFlash.32" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Programmable" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\ToolboxBitmap32" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx, 1" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\TypeLib" value="{D27CDB6B-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Version" value="1.0" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\VersionIndependentProgID" value="ShockwaveFlash.ShockwaveFlash" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\InprocServer32" value="Apartment" valueKind="String" valueName="ThreadingModel" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\MiscStatus\1" value="131473" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\EnableFullPage\.spl" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\EnableFullPage\.swf" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\EnableFullPage\.mfp" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Implemented Categories\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Implemented Categories\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Implemented Categories\{31CAF6E4-D6AA-4090-A050-A5AC8972E9EF}" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Implemented Categories\{59FB2056-D625-48D0-A944-1A85B5AB2640}" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\Control" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\InprocServer32" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\ProgID" value="FlashFactory.FlashFactory.1" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\Programmable" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\ToolboxBitmap32" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx, 1" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\TypeLib" value="{D27CDB6B-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\Version" value="1.0" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\VersionIndependentProgID" value="FlashFactory.FlashFactory" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\InprocServer32" value="Apartment" valueKind="String" valueName="ThreadingModel" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.spl" value="ShockwaveFlash.ShockwaveFlash" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.spl" value="application/futuresplash" valueKind="String" valueName="Content Type" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.swf" value="ShockwaveFlash.ShockwaveFlash" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.swf" value="application/x-shockwave-flash" valueKind="String" valueName="Content Type" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.mfp" value="MacromediaFlashPaper.MacromediaFlashPaper" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.mfp" value="application/x-shockwave-flash" valueKind="String" valueName="Content Type" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.sol" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.sol" value="text/plain" valueKind="String" valueName="Content Type" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.sor" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.sor" value="text/plain" valueKind="String" valueName="Content Type" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MIME" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MIME\Database\Content Type\application/futuresplash" value=".spl" valueKind="String" valueName="Extension" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MIME\Database\Content Type\application/futuresplash" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="CLSID" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MIME\Database\Content Type\application/x-shockwave-flash" value=".swf" valueKind="String" valueName="Extension" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MIME\Database\Content Type\application/x-shockwave-flash" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="CLSID" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\ActiveX Compatibility\{D27CDB70-AE6D-11cf-96B8-444553540000}" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\NavigatorPluginsList\Shockwave Flash" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\NavigatorPluginsList\Shockwave Flash" value="" valueKind="String" valueName="application/futuresplash" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\NavigatorPluginsList\Shockwave Flash" value="" valueKind="String" valueName="application/x-shockwave-flash" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}\1.1" value="FlashAccessibility" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}\1.1\FLAGS" value="0" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}\1.1\0" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}\1.1\0\win32" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx\2" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}\1.1\HELPDIR" value="%FP_STARTUP_PATH%\ActiveX\Flash" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{57A0E747-3863-4D20-A811-950C84F1DB9B}" value="IFlashAccessibility" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{57A0E747-3863-4D20-A811-950C84F1DB9B}\ProxyStubClsid32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{57A0E747-3863-4D20-A811-950C84F1DB9B}\TypeLib" value="{57A0E746-3863-4D20-A811-950C84F1DB9B}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{57A0E747-3863-4D20-A811-950C84F1DB9B}\TypeLib" value="1.1" valueKind="String" valueName="Version" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{307F64C0-621D-4D56-BBC6-91EFC13CE40D}" value="ISimpleTextSelection" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{307F64C0-621D-4D56-BBC6-91EFC13CE40D}\ProxyStubClsid32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{307F64C0-621D-4D56-BBC6-91EFC13CE40D}\TypeLib" value="{57A0E746-3863-4D20-A811-950C84F1DB9B}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{307F64C0-621D-4D56-BBC6-91EFC13CE40D}\TypeLib" value="1.1" valueKind="String" valueName="Version" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.htm" value="htmlfile" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\htmlfile\shell\open\command" value="&quot;%ProgramFiles%\Internet Explorer\iexplore.exe&quot; %1" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\htmlfile\DefaultIcon" value="%ProgramFiles%\Internet Explorer\iexplore.exe,-17" valueKind="ExpandString" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper\shell" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper\shell\open" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper\shell\open\command" value="&quot;%ProgramFiles%\Internet Explorer\iexplore.exe&quot; %1" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper\DefaultIcon" value="%ProgramFiles(x86)%\Internet Explorer\iexplore.exe,-17" valueKind="String" valueName="" />
					</registryStates>
				</modifications>
			</template>
        </templates>
    </flashpointSecurePlayer>
</configuration>