<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.4.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="activex\crystalsquidgames\csgi.ocx">
                <modifications>
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{571F2296-4517-480E-B515-555A57C008B8}\1.0"
                            value="CSGI ActiveX Control module" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{571F2296-4517-480E-B515-555A57C008B8}\1.0\FLAGS"
                            value="2" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{571F2296-4517-480E-B515-555A57C008B8}\1.0\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{571F2296-4517-480E-B515-555A57C008B8}\1.0\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\CrystalSquidGames\CSGI.ocx"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{571F2296-4517-480E-B515-555A57C008B8}\1.0\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\CrystalSquidGames" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{08517E4D-7786-431A-AF76-1A1A293A1EB3}"
                            value="_DCSGI" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{08517E4D-7786-431A-AF76-1A1A293A1EB3}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{08517E4D-7786-431A-AF76-1A1A293A1EB3}\TYPELIB"
                            value="{571F2296-4517-480E-B515-555A57C008B8}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{08517E4D-7786-431A-AF76-1A1A293A1EB3}\TYPELIB"
                            value="1.0" valueKind="String" valueName="VERSION" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{DD38C989-C81D-445C-904B-4CF4F7D20455}"
                            value="_DCSGIEvents" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{DD38C989-C81D-445C-904B-4CF4F7D20455}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{DD38C989-C81D-445C-904B-4CF4F7D20455}\TYPELIB"
                            value="{571F2296-4517-480E-B515-555A57C008B8}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{DD38C989-C81D-445C-904B-4CF4F7D20455}\TYPELIB"
                            value="1.0" valueKind="String" valueName="VERSION" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3ED3331E-3086-46D0-A759-00E5028728BC}"
                            value="CSGI Property Page" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3ED3331E-3086-46D0-A759-00E5028728BC}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\CrystalSquidGames\CSGI.ocx"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}"
                            value="CSGI Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CSGI.CSGICTRL.1"
                            value="CSGI Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CSGI.CSGICTRL.1\CLSID"
                            value="{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}\PROGID"
                            value="CSGI.CSGICtrl.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\CrystalSquidGames\CSGI.ocx"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}\TOOLBOXBITMAP32"
                            value="%FP_STARTUP_PATH%\ActiveX\CrystalSquidGames\CSGI.ocx, 1"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}\MISCSTATUS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}\MISCSTATUS\1"
                            value="197009" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}\CONTROL"
                            value="" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}\TYPELIB"
                            value="{571F2296-4517-480E-B515-555A57C008B8}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}\VERSION"
                            value="1.0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}\INPROCSERVER32"
                            value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}\IMPLEMENTED CATEGORIES"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3C5B2DBA-9C59-4A9D-8CB2-D67F93863962}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}"
                            valueName="" />
                    </registryStates>
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>