<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.2.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="activex\xvr\xvrplayer.dll">
                <modifications>
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\VRPLAYER.SERVER.1"
                            value="Server Class" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\VRPLAYER.SERVER.1\CLSID"
                            value="{5D589287-1496-4223-AE64-65FA078B5EAB}" valueKind="String"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\VRPLAYER.SERVER.1\INSERTABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\VRPLAYER.SERVER"
                            value="Server Class" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\VRPLAYER.SERVER\CLSID"
                            value="{5D589287-1496-4223-AE64-65FA078B5EAB}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\VRPLAYER.SERVER\CURVER"
                            value="VRPlayer.Server.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}"
                            value="Server Class" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}\PROGID"
                            value="VRPlayer.Server.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}\VERSIONINDEPENDENTPROGID"
                            value="VRPlayer.Server" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}\PROGRAMMABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\xvr\XVRPlayer.dll" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}\INPROCSERVER32"
                            value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}\CONTROL"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}\TOOLBOXBITMAP32"
                            value="%FP_STARTUP_PATH%\ActiveX\xvr\XVRPlayer.dll, 101" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}\MISCSTATUS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}\MISCSTATUS\1"
                            value="131473" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}\TYPELIB"
                            value="{32F7E303-9E9E-4CBA-AD77-0CAD40D1FA57}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{5D589287-1496-4223-AE64-65FA078B5EAB}\VERSION"
                            value="1.0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{32F7E303-9E9E-4CBA-AD77-0CAD40D1FA57}\1.0"
                            value="VRPlayer 1.0 Type Library" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{32F7E303-9E9E-4CBA-AD77-0CAD40D1FA57}\1.0\FLAGS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{32F7E303-9E9E-4CBA-AD77-0CAD40D1FA57}\1.0\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{32F7E303-9E9E-4CBA-AD77-0CAD40D1FA57}\1.0\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\xvr\XVRPlayer.dll" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{32F7E303-9E9E-4CBA-AD77-0CAD40D1FA57}\1.0\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\xvr\" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F59EAF91-08F8-4E7F-8996-37CDC16F5752}"
                            value="_IServerEvents" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F59EAF91-08F8-4E7F-8996-37CDC16F5752}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F59EAF91-08F8-4E7F-8996-37CDC16F5752}\TYPELIB"
                            value="{32F7E303-9E9E-4CBA-AD77-0CAD40D1FA57}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F59EAF91-08F8-4E7F-8996-37CDC16F5752}\TYPELIB"
                            value="1.0" valueKind="String" valueName="VERSION" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{ED4C63AF-B129-4C0E-8FD4-631084CCEC73}"
                            value="IServer" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{ED4C63AF-B129-4C0E-8FD4-631084CCEC73}\PROXYSTUBCLSID32"
                            value="{00020424-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{ED4C63AF-B129-4C0E-8FD4-631084CCEC73}\TYPELIB"
                            value="{32F7E303-9E9E-4CBA-AD77-0CAD40D1FA57}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{ED4C63AF-B129-4C0E-8FD4-631084CCEC73}\TYPELIB"
                            value="1.0" valueKind="String" valueName="VERSION" />
                    </registryStates>
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>