<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.2.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="activex\thetowersofhanoi\hanoi.ocx">
                <modifications>
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HANOI.HANOICTL.1" value="Towers of Hanoi Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HANOI.HANOICTL.1\CLSID" value="{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HANOI.HANOICTL" value="Towers of Hanoi Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HANOI.HANOICTL\CLSID" value="{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HANOI.HANOICTL\CURVER" value="Hanoi.HanoiCtl.1" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\IMPLEMENTED CATEGORIES" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}" value="Towers of Hanoi Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\PROGID" value="Hanoi.HanoiCtl.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\VERSIONINDEPENDENTPROGID" value="Hanoi.HanoiCtl" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\PROGRAMMABLE" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\TheTowersofHanoi\Hanoi.ocx" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="ThreadingModel" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\CONTROL" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\INSERTABLE" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\ActiveX\TheTowersofHanoi\Hanoi.ocx, 101" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\MISCSTATUS" value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\TYPELIB" value="{57DF7E80-6C82-11D4-BCBF-00104B9E7443}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\VERSION" value="1.0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{57DF7E8D-6C82-11D4-BCBF-00104B9E7443}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{57DF7E80-6C82-11D4-BCBF-00104B9E7443}\1.0" value="Towers of Hanoi Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{57DF7E80-6C82-11D4-BCBF-00104B9E7443}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{57DF7E80-6C82-11D4-BCBF-00104B9E7443}\1.0\0" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{57DF7E80-6C82-11D4-BCBF-00104B9E7443}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\TheTowersofHanoi\Hanoi.ocx" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{57DF7E80-6C82-11D4-BCBF-00104B9E7443}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\ActiveX\TheTowersofHanoi\" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{57DF7E8E-6C82-11D4-BCBF-00104B9E7443}" value="_IHanoiCtlEvents" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{57DF7E8E-6C82-11D4-BCBF-00104B9E7443}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{57DF7E8E-6C82-11D4-BCBF-00104B9E7443}\TYPELIB" value="{57DF7E80-6C82-11D4-BCBF-00104B9E7443}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{57DF7E8E-6C82-11D4-BCBF-00104B9E7443}\TYPELIB" value="1.0" valueKind="String" valueName="Version" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{57DF7E8C-6C82-11D4-BCBF-00104B9E7443}" value="IHanoiCtl" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{57DF7E8C-6C82-11D4-BCBF-00104B9E7443}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{57DF7E8C-6C82-11D4-BCBF-00104B9E7443}\TYPELIB" value="{57DF7E80-6C82-11D4-BCBF-00104B9E7443}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{57DF7E8C-6C82-11D4-BCBF-00104B9E7443}\TYPELIB" value="1.0" valueKind="String" valueName="Version" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}\1.0" value="FHDLButton ActiveX Control module" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}\1.0\FLAGS" value="2" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}\1.0\0" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\TheTowersofHanoi\fhdlbutton.ocx" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\ActiveX\TheTowersofHanoi" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA83-3A37-11D3-A057-00104B5FBF5B}" value="_DFHDLButton" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA83-3A37-11D3-A057-00104B5FBF5B}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA83-3A37-11D3-A057-00104B5FBF5B}\TYPELIB" value="{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA83-3A37-11D3-A057-00104B5FBF5B}\TYPELIB" value="1.0" valueKind="String" valueName="Version" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA84-3A37-11D3-A057-00104B5FBF5B}" value="_DFHDLButtonEvents" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA84-3A37-11D3-A057-00104B5FBF5B}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA84-3A37-11D3-A057-00104B5FBF5B}\TYPELIB" value="{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA84-3A37-11D3-A057-00104B5FBF5B}\TYPELIB" value="1.0" valueKind="String" valueName="Version" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA86-3A37-11D3-A057-00104B5FBF5B}" value="FHDLButton Property Page" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA86-3A37-11D3-A057-00104B5FBF5B}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\TheTowersofHanoi\fhdlbutton.ocx" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}" value="FHDLButton Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FHDLBUTTON.FHDLBUTTONCTRL.1" value="FHDLButton Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FHDLBUTTON.FHDLBUTTONCTRL.1\CLSID" value="{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\PROGID" value="FHDLBUTTON.FHDLButtonCtrl.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\TheTowersofHanoi\fhdlbutton.ocx" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\ActiveX\TheTowersofHanoi\fhdlbutton.ocx, 1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\MISCSTATUS" value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\CONTROL" value="" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\TYPELIB" value="{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\VERSION" value="1.0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="ThreadingModel" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
                    </registryStates>
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>