<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.2.3.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="activex\btdownloadctrl\btdownloadctrl.ocx">
                <modifications runAsAdministrator="true">
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{47D2115E-387B-44D2-98B8-DBD2E9A6E9BD}\1.0"
                            value="BTDownloadCtrl ActiveX Control module" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{47D2115E-387B-44D2-98B8-DBD2E9A6E9BD}\1.0\FLAGS"
                            value="2" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{47D2115E-387B-44D2-98B8-DBD2E9A6E9BD}\1.0\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{47D2115E-387B-44D2-98B8-DBD2E9A6E9BD}\1.0\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\BTDownloadCtrl\BTDownloadCtrl.ocx"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{47D2115E-387B-44D2-98B8-DBD2E9A6E9BD}\1.0\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\BTDownloadCtrl" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EF63EB49-9C11-4CFA-8EB8-2EC93E493AEC}"
                            value="_DBTDownloadCtrl" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EF63EB49-9C11-4CFA-8EB8-2EC93E493AEC}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EF63EB49-9C11-4CFA-8EB8-2EC93E493AEC}\TYPELIB"
                            value="{47D2115E-387B-44D2-98B8-DBD2E9A6E9BD}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EF63EB49-9C11-4CFA-8EB8-2EC93E493AEC}\TYPELIB"
                            value="1.0" valueKind="String" valueName="Version" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{AEA28D99-7443-4485-895A-10303FEC6661}"
                            value="_DBTDownloadCtrlEvents" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{AEA28D99-7443-4485-895A-10303FEC6661}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{AEA28D99-7443-4485-895A-10303FEC6661}\TYPELIB"
                            value="{47D2115E-387B-44D2-98B8-DBD2E9A6E9BD}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{AEA28D99-7443-4485-895A-10303FEC6661}\TYPELIB"
                            value="1.0" valueKind="String" valueName="Version" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{65E80A21-131E-4B67-9D27-C1A5A237EAA7}"
                            value="BTDownloadCtrl Property Page" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{65E80A21-131E-4B67-9D27-C1A5A237EAA7}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\BTDownloadCtrl\BTDownloadCtrl.ocx"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E13F1132-4CA0-4005-84D3-51406E27D269}"
                            value="BTDownloadCtrl Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BTDOWNLOADCTRL.BTDOWNLOADCTRLCTRL.1"
                            value="BTDownloadCtrl Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BTDOWNLOADCTRL.BTDOWNLOADCTRLCTRL.1\CLSID"
                            value="{E13F1132-4CA0-4005-84D3-51406E27D269}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E13F1132-4CA0-4005-84D3-51406E27D269}\PROGID"
                            value="BTDOWNLOADCTRL.BTDownloadCtrlCtrl.1" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E13F1132-4CA0-4005-84D3-51406E27D269}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\BTDownloadCtrl\BTDownloadCtrl.ocx"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E13F1132-4CA0-4005-84D3-51406E27D269}\TOOLBOXBITMAP32"
                            value="%FP_STARTUP_PATH%\ActiveX\BTDownloadCtrl\BTDownloadCtrl.ocx, 1"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E13F1132-4CA0-4005-84D3-51406E27D269}\MISCSTATUS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E13F1132-4CA0-4005-84D3-51406E27D269}\MISCSTATUS\1"
                            value="131473" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E13F1132-4CA0-4005-84D3-51406E27D269}\CONTROL"
                            value="" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E13F1132-4CA0-4005-84D3-51406E27D269}\TYPELIB"
                            value="{47D2115E-387B-44D2-98B8-DBD2E9A6E9BD}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E13F1132-4CA0-4005-84D3-51406E27D269}\VERSION"
                            value="1.0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E13F1132-4CA0-4005-84D3-51406E27D269}\INPROCSERVER32"
                            value="Apartment" valueKind="String" valueName="ThreadingModel" />
                    </registryStates>
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>