<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.4.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="activex\turntool\tntctrl1.dll">
                <modifications>
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL.1"
                            value="TurnTool Scene" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL.1\CLSID"
                            value="{402ee96e-2ce8-482d-ada5-ceceea07e16d}" valueKind="String"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL.1\INSERTABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL.1\DEFAULTICON"
                            value="%FP_STARTUP_PATH%\ActiveX\TurnTool\TNTCtrl1.dll,0"
                            valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL.1\SHELL"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL.1\SHELL\OPEN"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL.1\SHELL\OPEN\COMMAND"
                            value="&quot;C:\Program Files\Internet Explorer\IEXPLORE.EXE&quot; -nohome"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL.1\SHELL\OPEN\DDEEXEC"
                            value="&quot;file:%1&quot;,,-1,,,,," valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL.1\SHELL\OPEN\DDEEXEC\APPLICATION"
                            value="IExplore" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL.1\SHELL\OPEN\DDEEXEC\TOPIC"
                            value="WWW_OpenURL" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL"
                            value="TurnTool Scene" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL\CLSID"
                            value="{402ee96e-2ce8-482d-ada5-ceceea07e16d}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTCTRL\CURVER"
                            value="TNT.TNTCtrl.1" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/TNTFILE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/TNTFILE"
                            value=".tnt" valueKind="String" valueName="EXTENSION" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/TNTFILE"
                            value="{402ee96e-2ce8-482d-ada5-ceceea07e16d}" valueKind="String"
                            valueName="CLSID" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.TNT"
                            value="TNT.TNTCtrl.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.TNT"
                            value="application/tntfile" valueKind="String" valueName="CONTENT TYPE" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\IMPLEMENTED CATEGORIES"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}"
                            value="TurnTool Scene" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}"
                            value="{402ee96e-2ce8-482d-ada5-ceceea07e16d}" valueKind="String"
                            valueName="APPID" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\PROGID"
                            value="TNT.TNTCtrl.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\VERSIONINDEPENDENTPROGID"
                            value="TNT.TNTCtrl" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\PROGRAMMABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\TurnTool\TNTCtrl1.dll" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\INPROCSERVER32"
                            value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\CONTROL"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\INSERTABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\TOOLBOXBITMAP32"
                            value="%FP_STARTUP_PATH%\ActiveX\TurnTool\TNTCtrl1.dll, 101"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\TYPELIB"
                            value="{1f351438-294c-44c8-90f6-82b99c24a97a}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\VERSION"
                            value="1.0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\ENABLEFULLPAGE"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\ENABLEFULLPAGE\.TNT"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}"
                            value="TurnTool Scene" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\TNTCTRL.DLL"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\TNTCTRL.DLL"
                            value="{402ee96e-2ce8-482d-ada5-ceceea07e16d}" valueKind="String"
                            valueName="APPID" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\IMPLEMENTED CATEGORIES\{40FC6ED3-2438-11CF-A3DB-080036F12502}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\IMPLEMENTED CATEGORIES\{40FC6ED4-2438-11CF-A3DB-080036F12502}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\IMPLEMENTED CATEGORIES\{0DE86A58-2BAA-11CF-A229-00AA003D7352}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{402EE96E-2CE8-482D-ADA5-CECEEA07E16D}\IMPLEMENTED CATEGORIES\{0DE86A57-2BAA-11CF-A229-00AA003D7352}"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTPROP.1"
                            value="TNTProp Class" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTPROP.1\CLSID"
                            value="{8e5523d0-acf4-4340-bbbe-08baf84ea871}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTPROP"
                            value="TNTProp Class" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTPROP\CLSID"
                            value="{8e5523d0-acf4-4340-bbbe-08baf84ea871}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TNT.TNTPROP\CURVER"
                            value="TNT.TNTProp.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8E5523D0-ACF4-4340-BBBE-08BAF84EA871}"
                            value="TNTProp Class" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8E5523D0-ACF4-4340-BBBE-08BAF84EA871}\PROGRAMMABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8E5523D0-ACF4-4340-BBBE-08BAF84EA871}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\TurnTool\TNTCtrl1.dll" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8E5523D0-ACF4-4340-BBBE-08BAF84EA871}\INPROCSERVER32"
                            value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1F351438-294C-44C8-90F6-82B99C24A97A}\1.0"
                            value="TNT 1.0 Type Library" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1F351438-294C-44C8-90F6-82B99C24A97A}\1.0\FLAGS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1F351438-294C-44C8-90F6-82B99C24A97A}\1.0\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1F351438-294C-44C8-90F6-82B99C24A97A}\1.0\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\TurnTool\TNTCtrl1.dll" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1F351438-294C-44C8-90F6-82B99C24A97A}\1.0\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\TurnTool\" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1562EAD9-0D20-452A-925E-4211EDC1AFBE}"
                            value="_ITNTCtrlEvents" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1562EAD9-0D20-452A-925E-4211EDC1AFBE}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1562EAD9-0D20-452A-925E-4211EDC1AFBE}\TYPELIB"
                            value="{1F351438-294C-44C8-90F6-82B99C24A97A}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1562EAD9-0D20-452A-925E-4211EDC1AFBE}\TYPELIB"
                            value="1.0" valueKind="String" valueName="VERSION" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1372BA73-83B8-4508-99F5-86696105714C}"
                            value="ITNTCtrl" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1372BA73-83B8-4508-99F5-86696105714C}\PROXYSTUBCLSID32"
                            value="{00020424-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1372BA73-83B8-4508-99F5-86696105714C}\TYPELIB"
                            value="{1F351438-294C-44C8-90F6-82B99C24A97A}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1372BA73-83B8-4508-99F5-86696105714C}\TYPELIB"
                            value="1.0" valueKind="String" valueName="VERSION" />
                    </registryStates>
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>