<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="alice">
        <mode name="SOFTWARE" commandLine="fpnavigator-portable\FPNavigator.exe &quot;%FP_URL%&quot;" />
        <modifications runAsAdministrator="true">
          <environmentVariables>
            <environmentVariable name="PATH" value="%PATH%;%FP_STARTUP_PATH%\BrowserPlugins\alice" />
          </environmentVariables>
          <registryStates binaryType="SCS_32BIT_BINARY">
<registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Carnegie Mellon University\Alice99Plugin" type="VALUE" valueKind="String" value="1.00.000" valueName="CurrentVersion" />
<registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Carnegie Mellon University\Alice99Plugin\1.00.000" type="VALUE" valueKind="String" value="1" valueName="CacheSounds" />
<registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Carnegie Mellon University\Alice99Plugin\1.00.000" type="VALUE" valueKind="String" value="1" valueName="CacheTextures" />
<registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Carnegie Mellon University\Alice99Plugin\1.00.000" type="VALUE" valueKind="String" value="dont-do-it" valueName="ErrorMailAddress" />
<registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Carnegie Mellon University\Alice99Plugin\1.00.000" type="VALUE" valueKind="String" value="%FP_STARTUP_PATH%\BrowserPlugins\alice\" valueName="HomeDir" />
<registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Carnegie Mellon University\Alice99Plugin\1.00.000" type="VALUE" valueKind="String" value="%FP_STARTUP_PATH%\BrowserPlugins\alice;%FP_STARTUP_PATH%\BrowserPlugins\alice\Lib;%FP_STARTUP_PATH%\BrowserPlugins\alice\System\Core;%FP_STARTUP_PATH%\BrowserPlugins\alice\System\SiteSpec;%FP_STARTUP_PATH%\BrowserPlugins\alice\System\ImpExp;%FP_STARTUP_PATH%\BrowserPlugins\alice\System\Util;%FP_STARTUP_PATH%\BrowserPlugins\alice\Plugin" valueName="PythonPath" />
<registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Carnegie Mellon University\Alice99Plugin\1.00.000" type="VALUE" valueKind="String" value="1" valueName="SecureMode" />
<registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Carnegie Mellon University\Alice99Plugin\1.00.000" type="VALUE" valueKind="String" value="1" valueName="Sleep" />
<registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Carnegie Mellon University\Alice99Plugin\1.00.000" type="VALUE" valueKind="String" value="0" valueName="UseHardwareAcceleration" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>
