<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="cyberworld">
        <mode name="SOFTWARE" commandLine="Cyberworld\World\CWViewer.exe &quot;%FP_URL%&quot;" />
        <modifications runAsAdministrator="true">
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation" valueName="" />
	    <registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\borg" type="VALUE" valueKind="String" value="URL:Borg Protocol" valueName="" />
	    <registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\borg" type="VALUE" valueKind="String" value="" valueName="URL Protocol" />
	    <registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\borg\DefaultIcon" type="VALUE" valueKind="String" value="CWViewer.exe" valueName="" />
	    <registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\borg\shell\open\command" type="VALUE" valueKind="String" value="%FP_STARTUP_PATH%\Cyberworld\World\CWViewer.exe &quot;%1&quot;" valueName="" />
	    <registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\borg\shell\open\ddeexec" type="VALUE" valueKind="String" value="[open(&quot;%1&quot;)]" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation" value="CWViewer" valueKind="String" valueName="Viewer" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer" value="0Dy0Hznq2QE=" valueKind="Binary" valueName="InstallTime" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer" value="5.0.0.12" valueKind="String" valueName="Version" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer" value="CYBERWORLD" valueKind="String" valueName="Brand" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer" value="0x1=5.0.0.12" valueKind="String" valueName="RegVerStr" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" value="flashpoint" valueKind="String" valueName="Password" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" valueName="" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Network" valueName="" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Settings" valueName="" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\VISITOR" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" value="" valueKind="String" valueName="StartingBorg" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" value="flashpoint" valueKind="String" valueName="ProfileName" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" value="flashpoint" valueKind="String" valueName="FirstName" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" value="flashpoint" valueKind="String" valueName="LastName" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Network" value="flashpoint" valueKind="String" valueName="Name" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Settings" value="flashpoint" valueKind="String" valueName="RecentName" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Settings" value="0" valueKind="String" valueName="RunOnce" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Settings" value="1" valueKind="DWord" valueName="DontUseLogin" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\VISITOR" value="flashpoint" valueKind="String" valueName="ProfileName" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\VISITOR" value="flashpoint" valueKind="String" valueName="Password" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\VISITOR" value="" valueKind="String" valueName="StartingBorg" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\Paths" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\Paths\Borgs" value="%FP_STARTUP_PATH%\Cyberworld\World" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\Paths\Domains" value="%FP_STARTUP_PATH%\Cyberworld\World\Domains" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\Paths\Media" value="%FP_STARTUP_PATH%\Cyberworld\World\Media" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\Paths\Sprites" value="%FP_STARTUP_PATH%\Cyberworld\World\Objects" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CYBERWORLD.Controller" value="CYBERWORLD.Controller" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CYBERWORLD.Controller\CLSID" value="{B0EDEE36-6DAC-11D2-ADBD-0000B490CCE6}" valueKind="String" valueName="" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\CWViewer.exe" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\CWViewer.exe" value="%FP_STARTUP_PATH%\Cyberworld\World" valueKind="String" valueName="Path" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\CWViewer.exe" value="%FP_STARTUP_PATH%\Cyberworld\CWViewer.exe" valueKind="String" valueName="" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation" valueName="" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="http://www.Cyberworldcorp.com/worlds.htm" valueKind="String" valueName="StartingBorg" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="DEFAULT" valueKind="String" valueName="RecentName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="DEFAULT" valueKind="String" valueName="ProfileName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="3150" valueKind="DWord" valueName="ViewerDistanceRatio" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="483" valueKind="DWord" valueName="HorizonRatio" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="0" valueKind="DWord" valueName="UseSmoothing" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="25" valueKind="DWord" valueName="Speed" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1" valueKind="DWord" valueName="Midi" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1" valueKind="DWord" valueName="Wave" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1" valueKind="DWord" valueName="Effects" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="CyberWorld" valueKind="String" valueName="StartUp" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1" valueKind="DWord" valueName="INetOff" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="8" valueKind="DWord" valueName="ViewportSize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1 158 158 158 158 " valueKind="String" valueName="WEB2Positions" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="0" valueKind="DWord" valueName="OverrideWebPosition" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="32244183" valueKind="DWord" valueName="BaseSize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="39584102" valueKind="DWord" valueName="BrowserSize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="32" valueKind="DWord" valueName="MaxBPP" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="0" valueKind="DWord" valueName="Quantize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1" valueKind="DWord" valueName="ToolTips" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="20" valueKind="DWord" valueName="MaxFPS" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="FirstName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="LastName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="Addr1" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="Addr2" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="City" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="Country" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="PostalCode" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="Telephone" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" value="1" valueKind="DWord" valueName="SizeState" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" value="990" valueKind="DWord" valueName="SizeX" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" value="750" valueKind="DWord" valueName="SizeY" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" value="310" valueKind="DWord" valueName="PosX" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" value="157" valueKind="DWord" valueName="PosY" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="" valueKind="String" valueName="RunOnce" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="Default" valueKind="String" valueName="RecentName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="1" valueKind="DWord" valueName="DontUseLogin" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="Use3DHardware" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="ForceBrowserToMax" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="8" valueKind="DWord" valueName="RecentViewSize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="Registration" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="32" valueKind="DWord" valueName="LastMaxBPP" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="LastQuantize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="Coppa" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="DontTouchBase" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="1" valueKind="DWord" valueName="NetscapeSupport" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="1" valueKind="DWord" valueName="UseJoyStick" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="3DHardwareLowTexMemStrategy" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\SetUp" value="" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\SetUp" value="1" valueKind="DWord" valueName="AutoApply" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\VISITOR" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\VISITOR" value="VISITOR" valueKind="String" valueName="ProfileName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\VISITOR" value="http://www.Cyberworldcorp.com/worlds.htm" valueKind="String" valueName="StartingBorg" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\VISITOR" value="" valueKind="String" valueName="Password" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>
