<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="cyberworld.flash">
        <mode name="SOFTWARE" commandLine="Cyberworld\World\CWViewer.exe &quot;%FP_URL%&quot;" />
        <modifications runAsAdministrator="true">
          <registryStates binaryType="SCS_32BIT_BINARY">
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation" valueName="" />
	    <registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\borg" type="VALUE" valueKind="String" value="URL:Borg Protocol" valueName="" />
	    <registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\borg" type="VALUE" valueKind="String" value="" valueName="URL Protocol" />
	    <registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\borg\DefaultIcon" type="VALUE" valueKind="String" value="CWViewer.exe" valueName="" />
	    <registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\borg\shell\open\command" type="VALUE" valueKind="String" value="%FP_STARTUP_PATH%\Cyberworld\World\CWViewer.exe &quot;%1&quot;" valueName="" />
	    <registryState keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\borg\shell\open\ddeexec" type="VALUE" valueKind="String" value="[open(&quot;%1&quot;)]" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation" value="CWViewer" valueKind="String" valueName="Viewer" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer" value="0Dy0Hznq2QE=" valueKind="Binary" valueName="InstallTime" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer" value="5.0.0.12" valueKind="String" valueName="Version" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer" value="CYBERWORLD" valueKind="String" valueName="Brand" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer" value="0x1=5.0.0.12" valueKind="String" valueName="RegVerStr" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" value="flashpoint" valueKind="String" valueName="Password" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" valueName="" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Network" valueName="" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Settings" valueName="" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\VISITOR" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" value="" valueKind="String" valueName="StartingBorg" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" value="flashpoint" valueKind="String" valueName="ProfileName" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" value="flashpoint" valueKind="String" valueName="FirstName" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Default" value="flashpoint" valueKind="String" valueName="LastName" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Network" value="flashpoint" valueKind="String" valueName="Name" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Settings" value="flashpoint" valueKind="String" valueName="RecentName" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Settings" value="0" valueKind="String" valueName="RunOnce" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\Settings" value="1" valueKind="DWord" valueName="DontUseLogin" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\VISITOR" value="flashpoint" valueKind="String" valueName="ProfileName" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\VISITOR" value="flashpoint" valueKind="String" valueName="Password" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\CYBERWORLD\VISITOR" value="" valueKind="String" valueName="StartingBorg" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\Paths" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\Paths\Borgs" value="%FP_STARTUP_PATH%\Cyberworld\World" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\Paths\Domains" value="%FP_STARTUP_PATH%\Cyberworld\World\Domains" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\Paths\Media" value="%FP_STARTUP_PATH%\Cyberworld\World\Media" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CYBERWORLD Corporation\CWViewer\Paths\Sprites" value="%FP_STARTUP_PATH%\Cyberworld\World\Objects" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CYBERWORLD.Controller" value="CYBERWORLD.Controller" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CYBERWORLD.Controller\CLSID" value="{B0EDEE36-6DAC-11D2-ADBD-0000B490CCE6}" valueKind="String" valueName="" />
	    <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\CWViewer.exe" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\CWViewer.exe" value="%FP_STARTUP_PATH%\Cyberworld\World" valueKind="String" valueName="Path" />
	    <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\CWViewer.exe" value="%FP_STARTUP_PATH%\Cyberworld\CWViewer.exe" valueKind="String" valueName="" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation" valueName="" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="http://www.Cyberworldcorp.com/worlds.htm" valueKind="String" valueName="StartingBorg" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="DEFAULT" valueKind="String" valueName="RecentName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="DEFAULT" valueKind="String" valueName="ProfileName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="3150" valueKind="DWord" valueName="ViewerDistanceRatio" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="483" valueKind="DWord" valueName="HorizonRatio" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="0" valueKind="DWord" valueName="UseSmoothing" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="25" valueKind="DWord" valueName="Speed" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1" valueKind="DWord" valueName="Midi" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1" valueKind="DWord" valueName="Wave" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1" valueKind="DWord" valueName="Effects" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="CyberWorld" valueKind="String" valueName="StartUp" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1" valueKind="DWord" valueName="INetOff" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="8" valueKind="DWord" valueName="ViewportSize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1 158 158 158 158 " valueKind="String" valueName="WEB2Positions" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="0" valueKind="DWord" valueName="OverrideWebPosition" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="32244183" valueKind="DWord" valueName="BaseSize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="39584102" valueKind="DWord" valueName="BrowserSize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="32" valueKind="DWord" valueName="MaxBPP" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="0" valueKind="DWord" valueName="Quantize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="1" valueKind="DWord" valueName="ToolTips" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="20" valueKind="DWord" valueName="MaxFPS" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="FirstName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="LastName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="Addr1" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="Addr2" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="City" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="Country" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="PostalCode" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Default" value="" valueKind="String" valueName="Telephone" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" value="1" valueKind="DWord" valueName="SizeState" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" value="990" valueKind="DWord" valueName="SizeX" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" value="750" valueKind="DWord" valueName="SizeY" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" value="310" valueKind="DWord" valueName="PosX" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Persistence" value="157" valueKind="DWord" valueName="PosY" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="" valueKind="String" valueName="RunOnce" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="Default" valueKind="String" valueName="RecentName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="1" valueKind="DWord" valueName="DontUseLogin" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="Use3DHardware" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="ForceBrowserToMax" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="8" valueKind="DWord" valueName="RecentViewSize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="Registration" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="32" valueKind="DWord" valueName="LastMaxBPP" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="LastQuantize" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="Coppa" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="DontTouchBase" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="1" valueKind="DWord" valueName="NetscapeSupport" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="1" valueKind="DWord" valueName="UseJoyStick" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\Settings" value="0" valueKind="DWord" valueName="3DHardwareLowTexMemStrategy" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\SetUp" value="" valueKind="String" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\SetUp" value="1" valueKind="DWord" valueName="AutoApply" />
	    <registryState type="KEY" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\VISITOR" valueName="" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\VISITOR" value="VISITOR" valueKind="String" valueName="ProfileName" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\VISITOR" value="http://www.Cyberworldcorp.com/worlds.htm" valueKind="String" valueName="StartingBorg" />
	    <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\CYBERWORLD Corporation\CYBERWORLD\VISITOR" value="" valueKind="String" valueName="Password" />
		
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\explorer\FolderDescriptions" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SYSTEM\ControlSet001\Control\TimeZoneInformation" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\HARDWARE\DESCRIPTION\System\CentralProcessor\0" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Macromedia\FlashPlayer\SafeVersions" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\InprocServer32" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}" value="Macromedia Flash Factory Object" valueKind="String" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}\1.0" valueName="" value="Shockwave Flash" valueKind="String" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}\1.0\0" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx" valueKind="String" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{D27CDB6B-AE6D-11CF-96B8-444553540000}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\Flash" valueKind="String" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper" value="Macromedia Flash Paper" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\FlashFactory.FlashFactory.1" value="Macromedia Flash Factory Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\FlashFactory.FlashFactory.1\CLSID" value="{D27CDB70-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.1" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.1\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\FlashFactory.FlashFactory" value="Macromedia Flash Factory Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\FlashFactory.FlashFactory\CLSID" value="{D27CDB70-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\FlashFactory.FlashFactory\CurVer" value="FlashFactory.FlashFactory.1" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.3" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.3\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.4" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.4\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.5" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.5\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.6" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.6\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.7" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.7\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.8" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.8\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.9" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.9\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.10" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.10\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.11" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.11\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.12" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.12\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.13" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.13\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.14" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.14\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.15" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.15\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.16" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.16\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.17" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.17\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.18" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.18\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.19" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.19\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.20" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.20\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.21" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.21\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.22" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.22\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.23" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.23\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.24" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.24\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.25" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.25\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.26" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.26\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.27" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.27\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.28" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.28\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.29" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.29\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.30" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.30\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.31" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.31\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.32" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash.32\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash" value="Shockwave Flash Object" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash\CLSID" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ShockwaveFlash.ShockwaveFlash\CurVer" value="ShockwaveFlash.ShockwaveFlash.32" valueKind="String" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Control" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\EnableFullPage" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Implemented Categories" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\MiscStatus" value="0" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\ProgID" value="ShockwaveFlash.ShockwaveFlash.32" valueKind="String" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Programmable" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\ToolboxBitmap32" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx, 1" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\TypeLib" value="{D27CDB6B-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Version" value="1.0" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\VersionIndependentProgID" value="ShockwaveFlash.ShockwaveFlash" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\InprocServer32" value="Apartment" valueKind="String" valueName="ThreadingModel" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\MiscStatus\1" value="131473" valueKind="String" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\EnableFullPage\.spl" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\EnableFullPage\.swf" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\EnableFullPage\.mfp" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Implemented Categories\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Implemented Categories\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Implemented Categories\{31CAF6E4-D6AA-4090-A050-A5AC8972E9EF}" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB6E-AE6D-11cf-96B8-444553540000}\Implemented Categories\{59FB2056-D625-48D0-A944-1A85B5AB2640}" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\Control" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\InprocServer32" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\ProgID" value="FlashFactory.FlashFactory.1" valueKind="String" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\Programmable" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\ToolboxBitmap32" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx, 1" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\TypeLib" value="{D27CDB6B-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\Version" value="1.0" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\VersionIndependentProgID" value="FlashFactory.FlashFactory" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{D27CDB70-AE6D-11cf-96B8-444553540000}\InprocServer32" value="Apartment" valueKind="String" valueName="ThreadingModel" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.spl" value="ShockwaveFlash.ShockwaveFlash" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.spl" value="application/futuresplash" valueKind="String" valueName="Content Type" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.swf" value="ShockwaveFlash.ShockwaveFlash" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.swf" value="application/x-shockwave-flash" valueKind="String" valueName="Content Type" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.mfp" value="MacromediaFlashPaper.MacromediaFlashPaper" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.mfp" value="application/x-shockwave-flash" valueKind="String" valueName="Content Type" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.sol" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.sol" value="text/plain" valueKind="String" valueName="Content Type" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.sor" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.sor" value="text/plain" valueKind="String" valueName="Content Type" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MIME" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MIME\Database\Content Type\application/futuresplash" value=".spl" valueKind="String" valueName="Extension" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MIME\Database\Content Type\application/futuresplash" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="CLSID" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MIME\Database\Content Type\application/x-shockwave-flash" value=".swf" valueKind="String" valueName="Extension" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MIME\Database\Content Type\application/x-shockwave-flash" value="{D27CDB6E-AE6D-11cf-96B8-444553540000}" valueKind="String" valueName="CLSID" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\ActiveX Compatibility\{D27CDB70-AE6D-11cf-96B8-444553540000}" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\NavigatorPluginsList\Shockwave Flash" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\NavigatorPluginsList\Shockwave Flash" value="" valueKind="String" valueName="application/futuresplash" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Internet Explorer\NavigatorPluginsList\Shockwave Flash" value="" valueKind="String" valueName="application/x-shockwave-flash" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}\1.1" value="FlashAccessibility" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}\1.1\FLAGS" value="0" valueKind="String" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}\1.1\0" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}\1.1\0\win32" value="%FP_STARTUP_PATH%\ActiveX\Flash\Flash32_32_0_0_465.ocx\2" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{57A0E746-3863-4D20-A811-950C84F1DB9B}\1.1\HELPDIR" value="%FP_STARTUP_PATH%\ActiveX\Flash" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{57A0E747-3863-4D20-A811-950C84F1DB9B}" value="IFlashAccessibility" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{57A0E747-3863-4D20-A811-950C84F1DB9B}\ProxyStubClsid32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{57A0E747-3863-4D20-A811-950C84F1DB9B}\TypeLib" value="{57A0E746-3863-4D20-A811-950C84F1DB9B}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{57A0E747-3863-4D20-A811-950C84F1DB9B}\TypeLib" value="1.1" valueKind="String" valueName="Version" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{307F64C0-621D-4D56-BBC6-91EFC13CE40D}" value="ISimpleTextSelection" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{307F64C0-621D-4D56-BBC6-91EFC13CE40D}\ProxyStubClsid32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{307F64C0-621D-4D56-BBC6-91EFC13CE40D}\TypeLib" value="{57A0E746-3863-4D20-A811-950C84F1DB9B}" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\Interface\{307F64C0-621D-4D56-BBC6-91EFC13CE40D}\TypeLib" value="1.1" valueKind="String" valueName="Version" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\.htm" value="htmlfile" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\htmlfile\shell\open\command" value="&quot;%ProgramFiles%\Internet Explorer\iexplore.exe&quot; %1" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\htmlfile\DefaultIcon" value="%ProgramFiles%\Internet Explorer\iexplore.exe,-17" valueKind="ExpandString" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper\shell" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper\shell\open" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper\shell\open\command" value="&quot;%ProgramFiles%\Internet Explorer\iexplore.exe&quot; %1" valueKind="String" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\MacromediaFlashPaper.MacromediaFlashPaper\DefaultIcon" value="%ProgramFiles(x86)%\Internet Explorer\iexplore.exe,-17" valueKind="String" valueName="" />
		<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Macromedia\FlashPlayer" valueName="" />
		<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Macromedia\FlashPlayer" value="32,0,0,465" valueKind="String" valueName="CurrentVersion" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>
