<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
		<templates>
			<template name="dosbox">
				<mode name="SOFTWARE" commandLine="dosbox\dosbox.exe -noconsole -conf &quot;%FP_STARTUP_PATH%\dosbox\dosbox.conf&quot; -c &quot;mount c &apos;%FP_STARTUP_PATH%\dosbox&apos;&quot; -c &quot;mount d .&quot; -c &quot;%FP_URL%&quot;" workingDirectory="%FP_HTDOCS_FILE_DIR%"/>
				<modifications>
					<environmentVariables>
						<environmentVariable name="FP_URL" find="http://" replace="c:" />
						<environmentVariable name="FP_URL" find="/" replace=" -a d:" />
					</environmentVariables>
				</modifications>
			</template>
		</templates>
    </flashpointSecurePlayer>
</configuration>
