<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
		<templates>
			<template name="dxstudioplayer">
				<mode name="SOFTWARE" commandLine="DXStudioPlayer\DXStudioPlayer.exe &quot;%FP_HTDOCS_FILE%&quot;" />
				<modifications runAsAdministrator="false">
					<registryStates binaryType="SCS_32BIT_BINARY">
					</registryStates>
				</modifications>
			</template>
		</templates>
    </flashpointSecurePlayer>
</configuration>