<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
		<templates>
			<template name="egi">
				<mode name="SOFTWARE" commandLine="EGI\bin\EGIRUN32.exe &quot;%FP_HTDOCS_FILE%&quot;" />
				<modifications>
					<environmentVariables>
					</environmentVariables>
				</modifications>
			</template>
		</templates>
    </flashpointSecurePlayer>
</configuration>