<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
			<template name="hypercosm350">
				<mode name="WEB_BROWSER" />
				<modifications runAsAdministrator="True">
					<registryStates binaryType="SCS_32BIT_BINARY">
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX" value="Hypercosm Applet" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX\CLSID" value="{34B8892A-9303-4893-9E12-1CEE6C3BF95D}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX\CurVer" value="HypercosmActivex.HyperX.1" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX.1" value="Hypercosm Applet" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX.1\CLSID" value="{34B8892A-9303-4893-9E12-1CEE6C3BF95D}" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\HypercosmActivex.HyperX.1\Insertable" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}" value="Hypercosm Applet" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Control" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Implemented Categories" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Implemented Categories\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Implemented Categories\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\InprocServer32" value="%FP_STARTUP_PATH%\Hypercosm\Hypercosm3\components\HypercosmActivex.dll" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\InprocServer32" value="Apartment" valueKind="String" valueName="ThreadingModel" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Insertable" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\MiscStatus" value="0" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\MiscStatus\1" value="131473" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\ProgID" value="HypercosmActivex.HyperX.1" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Programmable" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\ToolboxBitmap32" value="%FP_STARTUP_PATH%\Hypercosm\Hypercosm3\components\HypercosmActivex.dll, 101" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\TypeLib" value="{84BF5E52-39FD-4711-A2C1-064095C68D71}" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\Version" value="1.0" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\CLSID\{34B8892A-9303-4893-9E12-1CEE6C3BF95D}\VersionIndependentProgID" value="HypercosmActivex.HyperX" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}\1.0" value="Hypercosm Applet 1.0 Type Library" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}\1.0\0" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}\1.0\0\win32" value="%FP_STARTUP_PATH%\Hypercosm\Hypercosm3\components\HypercosmActivex.dll" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\TypeLib\{84BF5E52-39FD-4711-A2C1-064095C68D71}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\Hypercosm\Hypercosm3\components" valueKind="String" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\HYPERCOSM" valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\HYPERCOSM\HYPERCOSM PLAYER" valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\HYPERCOSM\HYPERCOSM PLAYER" value="%FP_STARTUP_PATH%\Hypercosm\Hypercosm3\" valueKind="String" valueName="SystemDataPath" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\HYPERCOSM\HYPERCOSM PLAYER" value="3.50" valueKind="String" valueName="Version" />
					</registryStates>
				</modifications>
			</template>
        </templates>
    </flashpointSecurePlayer>
</configuration>