<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.4.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="jamagic">
                <modifications>
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\JAMAGICCTL.JAMAGICCTL.1"
                            value="JamagicCtl Class" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\JAMAGICCTL.JAMAGICCTL.1\CLSID"
                            value="{E6B72B91-7AC8-42A3-9545-A38C12700F6B}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\JAMAGICCTL.JAMAGICCTL"
                            value="JamagicCtl Class" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\JAMAGICCTL.JAMAGICCTL\CLSID"
                            value="{E6B72B91-7AC8-42A3-9545-A38C12700F6B}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\JAMAGICCTL.JAMAGICCTL\CURVER"
                            value="JamagicCtl.Jamagic.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}"
                            value="JamagicCtl Class" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\PROGID"
                            value="JamagicCtl.JamagicCtl.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\VERSIONINDEPENDENTPROGID"
                            value="JamagicCtl.JamagicCtl" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\PROGRAMMABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\Jamagic\jamagic.ocx" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\INPROCSERVER32"
                            value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\CONTROL"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\INSERTABLE"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\TOOLBOXBITMAP32"
                            value="%FP_STARTUP_PATH%\ActiveX\Jamagic\jamagic.ocx, 203"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\MISCSTATUS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\MISCSTATUS\1"
                            value="131473" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\TYPELIB"
                            value="{7BCBEA35-2DC9-4115-8326-CE188212639F}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\VERSION"
                            value="1.0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\ENABLEFULLPAGE"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E6B72B91-7AC8-42A3-9545-A38C12700F6B}\ENABLEFULLPAGE\.3DD"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/3DD"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/3DD"
                            value=".3dd" valueKind="String" valueName="EXTENSION" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/3DD"
                            value="{E6B72B91-7AC8-42A3-9545-A38C12700F6B}" valueKind="String"
                            valueName="CLSID" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.3DD"
                            value="JamagicCtl.JamagicCtl" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.3DD"
                            value="application/x-jamagic" valueKind="String" valueName="CONTENT TYPE" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{7BCBEA35-2DC9-4115-8326-CE188212639F}\1.0"
                            value="Jamagic Control" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{7BCBEA35-2DC9-4115-8326-CE188212639F}\1.0\FLAGS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{7BCBEA35-2DC9-4115-8326-CE188212639F}\1.0\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{7BCBEA35-2DC9-4115-8326-CE188212639F}\1.0\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\Jamagic\jamagic.ocx" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{7BCBEA35-2DC9-4115-8326-CE188212639F}\1.0\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\Jamagic\" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{0B67769E-2815-454D-8EC9-5D0BA61F87F3}"
                            value="IJamagic" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{0B67769E-2815-454D-8EC9-5D0BA61F87F3}\PROXYSTUBCLSID32"
                            value="{00020424-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{0B67769E-2815-454D-8EC9-5D0BA61F87F3}\TYPELIB"
                            value="{7BCBEA35-2DC9-4115-8326-CE188212639F}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{0B67769E-2815-454D-8EC9-5D0BA61F87F3}\TYPELIB"
                            value="1.0" valueKind="String" valueName="VERSION" />
                    </registryStates>
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>