<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
		<templates>
			<template name="neuron">
				<mode name="SOFTWARE" commandLine="Netscape4x16\otvdm\otvdmw.exe ..\Program\netscape.exe &quot;%FP_URL%&quot;" />
				<modifications>
					<registryStates binaryType="SCS_32BIT_BINARY">
						<registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\Software\asymetrix\neuron\security" valueName="" value="unrestricted" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\Software\asymetrix\neuron\security\confirmation" valueName="" value="never" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\Software\asymetrix\engine\5.0\installpath" valueName="" value="C:\.fpn408\Program\plugins\neuron" valueKind="String" />
					</registryStates>
				</modifications>
			</template>
		</templates>
    </flashpointSecurePlayer>
</configuration>
